<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{{=it.translation.site_title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/metronic/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="/metronic/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/metronic/assets/admin/pages/css/login2.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="/metronic/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="/metronic/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/metronic/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="/metronic/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="/vendor/intltelinput/css/intlTelInput.css" rel="stylesheet" type="text/css"/>


    <script src="/metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <!-- END THEME STYLES -->
    <link rel="icon" href="/img/favicon/madabit256.ico" type="image/x-icon">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/madabit57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/madabit72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/madabit114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/madabit144.png">

    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/madabit60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/madabit76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/madabit120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/madabit152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/madabit180.png">

    <!--<link rel="icon" sizes="128×128" href="/img/favicon/madabit128.png">-->
    <!--<link rel="icon" sizes="128×128" href="/img/favicon/madabit128.png">-->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">

<!--Begin Comm100 Live Chat Code-->
<script>
    (function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","//assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
    ud({
        "code": "2b916c16",
        "link": "https://madabit.udesk.cn/im_client/?web_plugin_id=48486"
    });
</script>
<!--End Comm100 Live Chat Code-->

<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="/">
        <img src="/img/logo.png" width = "200"  alt="logo" class="logo-default"/>
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">

    {{?it.warning}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close-alert" data-dismiss="alert" aria-hidden="true"></button>
        <strong>{{=it.translation['account_warning']}}&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{!it.translation[it.warning]}}
    </div>
    {{?}}

    <!-- BEGIN REGISTRATION FORM -->
    <form class="register-form" action="/contactus" method="post" lang="{{=it.translation['language_for']}}">
        <div class="form-title">
            <span class="form-title">{{=it.translation.contactus_title}}</span>
        </div>

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">{{=it.translation.global_email}}</label>
            <input class="form-control placeholder-no-fix" type="text" placeholder="{{=it.translation.global_email}}" value="" name="email" autocomplete="off" required/>
        </div>

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{=it.translation.global_name}}</label>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{=it.translation.global_name}}" name="name" value="" required/>
        </div>

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{=it.translation.contactus_howcanwehelpyou}}</label>
            <textarea  class='form-control' rows=10 name='message' placeholder="{{=it.translation.contactus_howcanwehelpyou}}" style="height: 150px;" required></textarea>
        </div>
        <div class="form-actions">
            <button type="submit" id="registerSubmit" class="btn btn-primary uppercase pull-right">{{=it.translation.contactus_send}}</button>
        </div>
    </form>
    <!-- END REGISTRATION FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/metronic/assets/global/plugins/respond.min.js"></script>
<script src="/metronic/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->

<script src="/metronic/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/metronic/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery-validation/js/localization/messages_zh.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script defer src="/fonts/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>
<script src="/metronic/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
<script src="/metronic/assets/admin/pages/scripts/ui-toastr.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/metronic/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/metronic/assets/admin/pages/scripts/login.js" type="text/javascript"></script>
<!--<script src='https://www.google.com/recaptcha/api.js?hl={{=it.translation.language_for}}'></script>-->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
    var submitEnabled = true;
    jQuery(document).ready(function() {
        Metronic.init();
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "2000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        {{?it.err}}
        toastr['error']("{{=it.translation.contactus_msg1}}");
        {{?}}
        {{?it.success==true}}
        toastr['success']('{{=it.translation.contactus_msg2}}');
        {{?}}

        $('.register-form').validate({
            errorElement: 'span',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                name: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
                message: {
                    required: true,
                }
            },
            messages: {
                name: "{{=it.translation.rule_alert26}}",
                email: "{{=it.translation.rule_alert25}}",
                message: "{{=it.translation.rule_alert27}}",
            },

            invalidHandler: function(event, validator) {

            },

            highlight: function(element) {
                $(element)
                    .closest('.form-group').addClass('has-error');
            },

            success: function(label) {
                label.closest('.form-group').removeClass('has-error');
                label.remove();
            },

            errorPlacement: function(error, element) {
                if (element.closest('.input-icon').size() === 1) {
                    error.insertAfter(element.closest('.input-icon'));
                } else {
                    error.insertAfter(element);
                }
            },

            submitHandler: function(form)
            {
                var strPhoneCode = $(".selected-dial-code").text();
                $("#id_phone_dial_code").val(strPhoneCode);
                form.submit();
            }
        });
    });

</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
