{{##def.content:
<style type="text/css">
    ul.faq-ul>li>a {
        text-transform: capitalize;
    }
    dl.faq-dl>dd>b {
        text-transform: capitalize;
    }
    a.faq-category {
        color: #ddd;
        font-size: 16px;
    }
    li {
        list-style: none;
    }
    dd.category>b {
        padding-left: 0px;
        font-weight: bold;
    }
    .faq-dl > dd > b {
        padding-left: 0px;
        font-weight: 600;
        color:#b92525;
        font-size: 17px;
    }
    .faq-dl > dd > b::before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 16.5px;
        background-color: #b92525;
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 4px;
    }
    .faq-dl > dd > p {
        font-size: 15px;
        margin-left: 0;
        text-align: justify;
    }
</style>
<div class="portlet light">
    <div class="portlet-body">

        <div class="row">
            <h3 style="color:#b92525; font-weight: 700; margin: 20px 0; padding-left: 15px; font-size:20px;">关于我们</h3>
            <p style="font-size: 15px; margin: 0 0 50px 0; padding-left: 15px; text-align: justify;">
                Madabit是一款基于MADECHAIN开发的区块链智能合约应用算力碰撞，采用CTA多重算法加密技术、系统终端智能枷锁技术以及分离式存储加密技术，获取算力数据的永久绑定。数据的不可篡改、不可撤销，意味着阴暗的赔率和被操纵的痛点都将不复存在，把掌控权和信任都交还给了用户，保证了算力碰撞的公平公正。<br>
                通过MADECHAIN链上发行的数字货币MADECOIN，保持算力积分与MADECOIN的等值兑换。在保证存取款安全性的同时，通过投入算力，实现算力资源获取，兑换MADECOIN以及BTC/ETH等主流币，彻底解决以往只有通过高额买入或者艰难“挖矿”才能得到数字货币的难题，实现数字货币全平台增值流通的目标，这样的投资机会，您确定不要参与？

            </p>
            <h3 style="color:#b92525; font-weight: 700; margin: 20px 0; padding-left: 15px; font-size:20px;">什么是MADABIT?</h3>
            <p style="font-size: 15px; margin: 0 0 50px 0; padding-left: 15px; text-align: justify;">
                Madabit主要运用于在线社交群体，通过共享算力资源，投入算力，从而获得数字资源奖励；通过算力涡轮系统的碰撞，参与的人越多，越有可能得到高强度倍数的算利率。<br>
                算力碰撞的图表中包含着一条渐增的算力曲线，可随时显示算力增长的过程。乐趣与刺激并存，财富与风险同在！线上同步，简单公平，无需执行繁琐的操作步骤，没有艰深晦涩的技术指标，只有人性与欲望的真实较量。这是一场属于所有用户的智慧碰撞！<br>
                在每轮算力碰撞开始前，您都有机会进行参与或增加算力投入，一轮算力碰撞开始，算力资源池里的算力率将从1x开始迅速上涨，并且上涨乘数越来越高。<br>
                算力碰撞进行中的任何时间点，您都可以锁定当前算力率立即获取算力资源，在算力碰撞结束后系统会以您投入算力金额的乘数倍获取算力资源到您的账户。<br>
                每一轮都是风险与回报之间的斗争，您可以以1.1倍的乘数获取算力资源，获得保守的胜利，也可以选择留在算力碰撞中博取高达10000倍的乘数，这完全取决于您的智慧与运气。
            </p>
            <h3 style="color:#b92525; font-weight: 700; margin: 20px 0; padding-left: 15px; font-size:20px;">关于MADECHAIN</h3>
            <p style="font-size: 15px; margin: 0 0 50px 0; padding-left: 15px; text-align: justify;">
                经过数年独立自主的研发，MADECHAIN将打造全新的数字区块链构架平台，实现共享经济激励新模式。通过数十年自研的FOMAGI回溯算法，创立“四阶八系”生态数字技术，包含四阶段多边基因数字云策略，独创八种衍生数字区块链应用模型，助力AGI领域算法、微数字云服务、AI智能化交易、区块链应用等前沿理念落地。而应运而生的MADECOIN，将成为这个数字区块链平台中最重要的流通工具，您可以使用MADECOIN体验MADECHAIN科技环节中的每一个应用，触及到日常生活中购物、商务、投资等每一个环节，让您触摸科技，我们助力幸福。<br>
                MADABIT，只是我们的应用之一。更多应用，请关注：<br>
            </p>
            <h4 style="color:#b92525; font-weight: 700; margin: 20px 0; font-size:20px; padding-left: 15px">基本介绍</h4>
            <div class = 'row' style="color: #ddd;">
                <div class="col-md-3" style="padding-right: 10px; ">
                    <ul class="faq-ul" style="padding-left: 15px;">
                        <li>
                            <a href="#how-to-play">怎么参与？</a>
                        </li>
                        <li>
                            <a href="#what-is-extra-bet">什么是额外参与？</a>
                        </li>
                        <li>
                            <a href="#what-is-the-platform-advantage">什么是算力资源池优势几率？</a>
                        </li>
                        <li>
                            <a href="#fair-play">算力碰撞是否公平公正？</a>
                        </li>
                        <li>
                            <a href="#what-about-internet-delay">互联网延迟怎么办？</a>
                        </li>
                        <!--<li>-->
                            <!--<a href="#what-happens-when-the-server-forces-people-to-cash-out">当服务器迫使人们兑现时会发生什么？</a>-->
                        <!--</li>-->
                        <li>
                            <a href="#what-happens-if-i-disconnect-from-the-game">算力碰撞过程中网络连接中断会怎样？</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9" style="border-left: 2px solid #c0cddc;">
                    <dl class = 'faq-dl'>
                        <dd>
                            <b>
                                <a name="how-to-play"></a>
                                怎么参与？
                            </b>
                            <p>
                                首先，您需要将BTC、ETH、MADECOIN等主流的数字资源存入您的账户获得算力值；接下来，设置要参与的算力和获取资源的的算力率，确定后点击“投入算力”按钮。<br>
                                从图表留意以1开始的算力倍率增加，您可以选择自动获取或手动获取（两种模式下都能随时按下'获取算力资源'按钮），让您的投入算力值乘以图表的算力倍率而获取算力资源结算。<br>
                                在您获取之前，留在算力碰撞中的时间越长，算力倍率就越高。不过需要注意的是，算力碰撞中迅速增长的算力倍率随时都有可能突然停止（我们称之为算力率MAX）。如果在算力碰撞算力率MAX之前没有获取，您将会失去此轮算力碰撞中的所有消耗算力积分。<br>

                            </p>
                        </dd>

                        <dd>
                            <b>
                                <a name="what-is-extra-bet"></a>
                                什么是额外参与？
                            </b>
                            <p>
                                在算力碰撞里算力倍率等于0的概率大致为1%，在这种情况下，您将失去所有消耗算力值。为降低这种极端情况下的损失，我们为您提供了一个即使在0倍算力倍率下也能获取算力资源的功能，您只需额外参与即可。如果下一回合出现算力倍率为0的情况，那么您将获得50倍的资源获取。额外消耗算力积分限制在很小的范围内，这样一来您既不会损失太多，还能从额外参与里获得高倍算力奖励。
                            </p>
                        </dd>

                        <dd>
                            <b>
                                <a name="what-is-the-platform-advantage"></a>
                                什么是算力资源池优势几率？
                            </b>
                            <p>
                                算力资源池优势几率意味着算力碰撞系统相对于用户的优势。Madabit算力碰撞系统优势几率是1％。
                            </p>
                        </dd>

                        <dd>
                            <b>
                                <a name="fair-play"></a>
                                算力碰撞是否公平公正？
                            </b>
                            <p>
                                Madabit是MADECHAIN与世界级的算力碰撞专家团队合作，独立自主研发的区块链技术应用，根据数十年自研的FOMAGI回溯算法，使用生态数字技术、四阶八面矩阵多边基因数字云策略以及八种衍生数字区块链应用模型，集众家之大成，为了进一步加速了数字化社会的进程，丰富了数字化场景移动终端落地。因此所有用户将得到一个公平、透明、有利的竞争环境，确保我们的在线算力碰撞符合标准法规。
                            </p>
                        </dd>
                        <dd>
                            <b>
                                <a name="what-about-internet-delay"></a>
                                互联网延迟怎么办？
                            </b>
                            <p>
                                由于Madabit是一种即时的线上算力碰撞（玩家可以通过互联网进行交流的算力碰撞）， 因此您点击投入算力按钮的时间很可能与服务器收到指令的时间之间存在延迟。<br>
                                您离服务器越远，互联网延迟现象越明显，您的指令到达Madabit算力碰撞服务器所用的时间也越长。<br>
                                在稳定的交易环境下，您的指令可以以光速运行到服务器，但整个过程仍然需要134毫秒的时间才能到达世界各地。<br>
                                防止网络延迟的有效方法是使用自动参与功能。由于您的自动参与功能在算力碰撞开始前已发送到服务器，无论网络如何延迟，服务器已提早接收您的指令。例如，如果您的连接不好，而您想以2倍算力倍率兑现，那么我们建议您将自动参与设置为2倍，而不是依靠客户端发送手动参与按钮的指令。<br>
                                延迟/连接问题可能会在您的算力碰撞过程中带来不便，但我们保证Madabit绝不会从中获得任何额外的资金。<br>
                                对于Madabit来说，延迟意味着99％的玩家比预期更晚参与，算力率MAX之前他们可以获取更多资源。<br>
                                当然，这种获取指令到达服务器之前算力碰撞已经算力率MAX的情况也存在，但非常少见。<br>
                                然而，即便这种极端事件真的发生，制作算力碰撞系统的我们也是无能为力的。尽管每个算力碰撞系统开发者都希望为所有用户提供零延迟的算力碰撞体验，但这种物理上的延迟显然是不可能消除的。<br>
                                我们所有的算力碰撞运作都是由量子逻辑数据服务终端“宙斯”进行算力逻辑分配，冗余算力由AGI逻辑自动放入共享数字云端，用户可自主选择从云端矩阵源获取额外算力，打破算力桎梏，加速资源获取。<br>

                            </p>
                        </dd>

                        <!--<dd>-->
                            <!--<b>-->
                                <!--<a name="what-happens-when-the-server-forces-people-to-cash-out"></a>-->
                                <!--当服务器迫使人们兑现时会发生什么？-->
                            <!--</b>-->
                            <!--<p>-->
                                <!--在某些情况下，服务器将强制玩家获取算力资源。-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--最常见的原因是，项目算力算利率倍增过大以至于我们冒着太多的风险（净损失3％）。例如，一位玩家获得了超过博彩池0.5％的份额，该玩家将被迫获取算力资源他的奖金。-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--另一个可能的原因是服务器问题，服务器尝试将每个人都获取算力资源，然后在意外情况发生时暂停。-->
                            <!--</p>-->
                        <!--</dd>-->

                        <dd>
                            <b>
                                <a name="what-happens-if-i-disconnect-from-the-game"></a>
                                算力碰撞过程中网络连接中断会怎样？
                            </b>
                            <p>
                                当系统检测到您从正在进行的算力碰撞中断开连接时，量子逻辑数据服务终端“宙斯”进行算力逻辑分配会自动帮您获取。<br>
                                我们强烈建议您使用自动获取功能来设置最大算力倍率。因为一旦您的自动获取已发送至服务器，即使完全断开连接，它也可以正常工作。这是避免因互联网连接问题造成参与损失的有效方法。当然，如果您的网络连接是好的，也可以依靠手动选项。
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
            <h4 style="color:#b92525; font-weight: 700; margin: 20px 0; font-size:20px; padding-left: 15px">算力存取</h4>
            <div class = 'row' style="color: #ddd;">
                <div class="col-md-3" style="padding-right: 10px;">
                    <ul class="faq-ul" style='padding-left: 15px;'>
                        <li>
                            <a href="#how-can-i-deposit-money">如何存入算力？</a>
                        </li>
                        <li>
                            <a href="#how-long-is-my-deposit-address-valid">我的兑算力值地址有效期多长？</a>
                        </li>
                        <li>
                            <a href="#how-long-does-the-deposit-need-to-be-deposited">算力兑换需要多久？</a>
                        </li>
                        <li>
                            <a href="#how-to-get-free-bit">如何获取免费算力？</a>
                        </li>
                        <li>
                            <a href="#how-to-transfer-other-people-bit">如何向他人转赠算力？</a>
                        </li>
                        <li>
                            <a href="#how-much-does-it-cost-to-transfer-someone-else-bit">向他人转赠算力的费用？</a>
                        </li>
                        <li>
                            <a href="#miscellenous">其他？</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-9" style="border-left: 2px solid #c0cddc;">
                    <dl class = 'faq-dl'>
                        <dd>
                            <b>
                                <a name="how-can-i-deposit-money"></a>
                                如何存入算力？
                            </b>
                            <p>
                                您需要将比特币或以太坊或算力值等主流数字资源转移到您账户页面上的兑算力值地址。如果您没有任何比特币或以太坊或算力值等主流数字资源，我们可以推荐两个网站给您做兑换（此处添加我们兑换中心和流通中心网址）。同时，您也可以直接通过页面上的比特币地址进行提取！
                            </p>
                        </dd>

                        <dd>
                            <b>
                                <a name="how-long-are-my-deposit-addresses-valid"></a>
                                我的算力值地址有效期多长？
                            </b>
                            <p>
                                您可以直接将比特币或以太坊或算力值等主流数字资源存入您的Madabit地址。这些地址是永久有效的。所有兑换算力值都将自动记入您的账户。
                            </p>
                            <p>
                                为保护您的隐私，您应避免多次使用同一算力值地址。
                            </p>
                        </dd>

                        <dd>
                            <b>
                                <a name="how-long-does-the-deposit-need-to-be-deposited"></a>
                                算力兑换需要多久？
                            </b>
                            <p>
                                只需通过来自比特币或以太坊或算力值等主流数字资源等主流验证就能实现立即兑换，平均而言，验证大约需要10分钟，前提是发件人存入额中必须包含足够的流通费用。
                            </p>
                        </dd>

                        <dd>
                            <b>
                                <a name="how-to-get-free-bit"></a>
                                如何获取免费算力？
                            </b>
                            <p>
                                我们将以注册奖励和每日任务奖励等多种形式，回馈新老玩家，获取免费算力。但需要注意的是，用户不能在获得奖励后立即提取或转让这些免费算力。
                            </p>
                            <P>
                                另外，我们将保留最终修改或制定活动时间等各方面的最终决策权，恕不另行通知。
                            </P>
                        </dd>

                        <dd>
                            <b>
                                <a name="#how-to-transfer-other-people-bit"></a>
                                如何向他人转赠算力？
                            </b>
                            <p>
                                Madabit中的算力转增功能可以向其他玩家转赠一定数额的算力。无论出于何种原因，算力的转赠与否完全取决于您。想要转赠他人算力，您只需通过个人账户的算力转增功能，填写具体数额和接收者用户名就可以了。
                            </p>
                            <p>
                                请注意，转赠他人算力是不可撤回的，因此，发送前请仔细检查接收者用户名和数额！
                            </p>
                            <p>
                                温馨提示：为保证所有算力碰撞参与的用户的高质量聊天体验，不允许玩家在主要频道上向他人乞讨算力，一经查处，玩家可能会被禁止聊天或直接被拉黑。
                            </p>
                        </dd>

                        <dd>
                            <b>
                                <a name="how-much-does-it-cost-to-transfer-someone-else-bit"></a>
                                向他人转赠算力的费用？
                            </b>
                            <p>
                                每当您向他人转赠算力时都会被算力碰撞系统收取1% 的算力转赠费用，这个费用的设立只是为了防止用户滥用此功能。
                            </p>
                        </dd>

                        <dd>
                            <b>
                                <a name="miscellenous"></a>
                                其他？
                            </b>
                            <p>
                                如果以上条款和条件被翻译成其他语言，则以英文版本为准。
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="/metronic/assets/global/plugins/respond.min.js"></script>
    <script src="/metronic/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->

    <script src="/metronic/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="/metronic/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <script defer src="/fonts/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>
    <script src="/metronic/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="/metronic/assets/admin/layout2/scripts/layout.js" type="text/javascript"></script>

    <script>
        $(document).ready(function() {
            Metronic.init();
            Layout.init();
        })
    </script>
    <!-- END JAVASCRIPTS -->
    #}}


    {{#def.include('./template/main')}}
