{{##def.content:
    <style type="text/css">
        .portlet.light {
            padding-left:50px;
            padding-right:50px;
        }

        p {
            font-size:14px;
            text-align: justify;
        }

        h3 {
            color:#b92525;
            font-weight: 700;
        }

        h4 {
            margin-top:30px;
            color:#b92525;
            font-weight: 600;
        }
    </style>
<div class="portlet light">
    <div class="portlet-body">

        <div class="row">
            <h3>Madabit Privacy Policy</h3>
            <p>This Privacy Policy governs the Madabit website or any respective page, subpage, subdomain or section thereof from time to time, located at or accessible via the domain name: www.<b>Madabit</b>.com (the "Website").</p>
            <p>This Privacy Policy sets out the basis by which we process personal information that we collect from you or that you will provide to us.</p>
            <p>Please read the policy below carefully before using the Website. By using or registering with the Website, you are deemed to have agreed and accepted the terms and conditions of this Privacy Policy. If you do not agree to accept and be bound by this Privacy Policy or any amendment thereto, then please discontinue the use of the Website.</p>
            <h4>Amendment or Changes to the Policy</h4>
            <p>We reserve the right, at any time, to amend this Privacy Policy. Any such change shall be binding and effective immediately upon posting of the changes on the Website. The date on which the current Privacy Policy came into force will be indicated on the bottom of this page for reference.</p>
            <h4>Compliance</h4>
            <p>This Privacy Policy is in strict compliance with the Curacao’s e-Gaming Regulations; Madabit also regularly consults the EU privacy laws and the Organisation for the Economic Co-Operation and Development (OECD) guidelines to ensure the privacy of its players.</p>
            <h4>Data Collection</h4>
            <p><i>General Informations</i></p>
            <p>When accessing internet, browsers or client software may transmit information to the servers that host the websites you visit. This information will generate statistics about the visitors of the website which will be used for marketing purposes and help us improve user experience.</p>
            <h4>Personal Identifiable Information</h4>
            <p>We collect your personal information that can help us identify you. This information may include, but is not limited to:</p>
            <ol>
                <li>Information that you provide when opening an account with us such as your name, email address, phone number, birthdate and any other mandatory details as may be required of you that will enable us setup and manage your account.</li>
                <li>If you contact us, we may keep records of your correspondence.</li>
                <li>Any data you may provide as a result of a marketing promotion or competition.</li>
                <li>Details of your gaming activity on the Website.</li>
                <li>Your interaction with our customer service agents (via telephone or chat). These may be recorded or saved to assist us in training, quality management and to allow for speedy resolution of concerns and queries.</li>
            </ol>
            <p>Furthermore, these details will enable us to contact you for different purposes and deliver the best service we can offer. This personal information will also be used for marketing purposes, to notify you every time we have special offers, promotions and events.</p>
            <p>You acknowledge that the information provided by you may amount to personal or sensitive data under the Data Protection Act of 1998, and by using the Website, you give your consent to your data being processed as provided under this policy.</p>
            <h4>Disclosure on Use of Your Information</h4>
            <p>By registering an account with us you accept that we may retain your user information and that it may be held by us or provided to a third party company which processes it on our behalf.</p>
            <p>Your information may be processed such as, but not limited to the following instances:</p>
            <ol>
                <li>For account management and processing your transactions on our Website.</li>
                <li>Provision to you of gaming services.</li>
                <li>For verification and identification purposes, such as to ensure that you are of age and not residing in any of the restricted territories as specified in the Terms of Use of the Website.</li>
                <li>To customize marketing material as per your preference.</li>
                <li>For Website diagnostics and maintenance.</li>
                <li>To monitor and improve the Website’s services.</li>
                <li>For risk management, fraud detection and money laundering compliance.</li>
                <li>For compliance with any legal or regulatory requirements.</li>
                <li>Upon request by our website developers (who are also bound by the terms of this policy) in the course of providing support and related services.</li>
            </ol>
            <p>We likewise reserve the right to perform statistical analyses of user's behaviour and characteristics in order to measure interest in, and use of, the various areas of the sites and, in addition, to inform advertisers of such information as well as the number of users that have been exposed to or who have clicked on their advertising banners. We will provide only aggregated data from these analyses to third parties.</p>
            <h4>Profits and Gains</h4>
            <p>For marketing and promotional purposes, we reserve the right to publish on the Website and other promotional material details of any of your profits and/or prizes received. We may publish your user names or abbreviated names, the amount of the win and any other information to promote the Website, where necessary.</p>
            <h4>Security</h4>
            <p>We maintain the utmost available means to ensure that your information remains safe with us. All information is transferred using encryption technologies and once stored on our servers, it is maintained safe using the latest technologies available today. Both our web site and software use all available means to maintain data accuracy and privacy and to protect your data from being misused and/or lost.</p>
            <p>As the security of all communications via the internet is not completely secure, we cannot guarantee the security of any information that you will provide to us in the course of the provision of our services. By using the Website, you hereby acknowledge and accept the inherent security implications of using the internet and we accept no liability to you for any direct, consequential, incidental or punitive losses or damages arising out of such an occurrence.</p>
            <p>Kindly note that we will keep your information for so long as reasonably required for the purposes for which they were obtained. We may be required in certain instances to retain your information for an indefinite period.</p>
            <h4>Cookies</h4>
            <p>Players should note that personal information and data may be automatically collected and stored during the registration process through the use of Cookies. A "cookie" is a small piece of information sent by a web server to a web browser, which enables the server to collect information from the browser. We use cookies to keep track of your browsing patterns and to build up a demographic profile. By monitoring such patterns and collating the captured data we are able to improve our service to you. The Affiliate system uses cookies as part of the tracking process back to the referring affiliates.</p>
            <p>There is a simple procedure in most browsers that allows you to deny or accept the Cookie feature if you do not want information collected through the use of Cookies. Note, however, that "personalised" services may be affected if the cookie option is disabled.</p>
            <h4>Data destruction</h4>
            <p>Secure disposal is required for all media as related to the Company’s interactive gaming production site, regardless of the information contained thereon.</p>
            <h4>Data Access and Updates</h4>
            <p>Users may at any time make a written request for a copy of their personal information held by us to the addresses indicated below. We will disclose to you your personal data held by us. You may also notify us of any updates, amendments and corrections to previously collected user information by contacting our Customer Support. Further, upon your request, we will delete user information as outlined above on our database; however, it may be impossible to delete your entry without some residual information remaining because of back-ups and records of deletions.</p>
            <p>Madabit reserves the right to change, modify or amend this Privacy Policy at any time. All such modifications will be posted in this Privacy Policy. Customers are responsible for periodically checking the Privacy Policy posted in this page.</p>
            <p>This page was modified last April 23, 2018.</p>


        </div>
    </div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/metronic/assets/global/plugins/respond.min.js"></script>
<script src="/metronic/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->

<script src="/metronic/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/metronic/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script defer src="/fonts/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>
<script src="/metronic/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/metronic/assets/admin/layout2/scripts/layout.js" type="text/javascript"></script>

<script>
$(document).ready(function() {
    $('#id_liLanguage').remove();
    Metronic.init();
    Layout.init();

})
</script>
<!-- END JAVASCRIPTS -->
#}}


{{#def.include('./template/main')}}
